$accentColor = #4882D6 //默认主题颜色
// $textColor = red //默认字体颜色
// $borderColor = #eaecef //默认边框颜色
// $codeBgColor = #282c34 //默认背景颜色
// $sidebarWidth = 18rem //侧边栏宽度
// $contentWidth = 800px //内容区宽度
code{
    vertical-align: text-top
}
.navbar {
    box-shadow: 0 0 20px #eee;
    border-bottom: 0;
}
.navbar .logo {
    margin-right: 0px;
}